
<div class="jumbotron">
        <h1>Hello, there! Welcome to My Visualization Project!</h1>
        <p class="lead">This project presents my work regarding visualization using D3.js and GGplot in R. I used a small dataset that contains signup and visit records.</p>
<!--         <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <a href = '/graph/index'><h3> Sortable Bar Chart by D3.js</h3></a>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <a href = '/graph/world_map'><h3> Choropleth Map by D3.js</h3></a>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>

        <div class="col-lg-6">
          <a href = '/graph/index'><h3> Bar Chart by GGplot</h3></a>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <a href = '/graph/index'><h3> Heatmap by GGplot</h3></a>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

        </div>
      </div>

    </div> <!-- /container -->

