
<div class="jumbotron">
        <h1>Hello, there! Welcome to My Visualization Project!</h1>
        <p class="lead">This project presents my work regarding visualization using D3.js and GGplot in R. </p>
<!--         <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <a href = '/graph/index'><h3> Sortable Bar Chart by D3.js</h3></a>
          <p>Built a bar chart that can be sorted in asceding order.</p>

          <a href = '/graph/world_map'><h3> Choropleth Map by D3.js</h3></a>
          <p>Mimiced the Choropleth map created by Mike Bostock</p>
        </div>

        <div class="col-lg-6">
          <a href = '/graph/barchart'><h3> Bar Chart by GGplot</h3></a>
          <p>I used a small dataset that have signup and visit records to create a frequency distribution by device and auth_type..</p>

          <a href = '/graph/heatmap'><h3> Heatmap by GGplot</h3></a>
          <p>I used a small dataset that have signup and visit records to create a retention heatmap.</p>

        </div>
      </div>

    </div> <!-- /container -->

